<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastrando empresa</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

</head>
<body>
	<div th:replace="~{base/menu :: menu}"></div>
	<div class="container">
		<h1>Cadastrar empresa</h1>
		<p th:if="${mensagem}" th:text="${mensagem}"></p>
		<form action="/site/formEmpresa" method="post">
			<div>
				<input type="hidden" name="id" readonly="readonly">
			</div>
			<div>
				<label>Nome:</label> <input type="text" name="nome">
				
			</div>
			<div>
				<label>CNPJ:</label> <input type="text" name="cnpj">
				
			</div>
			<div>
				<label>Email de login:</label> <input type="text" name="email">

			</div>
			<div>
				<label>Senha:</label> <input type="password" name="senha">

			</div>

			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" /> <br /> <br />
			<div>
				<button class="waves-effect waves-light btn" type="submit">Cadastrar</button>
				<button class="waves-effect waves-light btn" type="reset">Limpar</button>
			</div>
		</form>
	</div>
</body>
</html>