<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Casamentos</title>
</head>
<body>
	<nav class="navbar purple" th:fragment="menu">
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo">Sistema de casamentos</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				<li sec:authorize="hasRole('CADASTRADO')"><a href="site/formCasamento">Cadastrar casamento</a></li>
				<li sec:authorize="hasRole('EMPRESA')"><a href="/site/listarCasamentos">Listar casamentos</a></li>
				<li sec:authorize="hasRole('EMPRESA')"><a href="/site/formEmpresa">Cadastrar empresa</a></li>
				<li sec:authorize="hasRole('ADMINISTRADOR')"><a href="/site/listarEmpresas">Listar empresa</a></li>
				<li sec:authorize="!isAuthenticated()"><a href="#" th:href="@{/login}">Login</a></li>
				<li sec:authorize="!isAuthenticated()"><a href="#" th:href="@{/cadastro}">Cadastro</a></li>
				<li sec:authorize="isAuthenticated()">
					<form action="/logout" method="post">
						<button class="waves-effect waves-light btn-tiny" type="submit">Sair</button>
						<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" /> 
					</form>
				</li>
			</ul>
		</div>
	</nav>

</body>
</html>